body {
  background-color: #f6f6f6;
  font-family: Verdana, Arial, Helvetica, "meirio", "メイリオ",
    "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック",
    sans-serif;

  margin: 0;
  color: #515151;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  margin: 0;
  background: #1aab8a;
  z-index: 20;

  .header_wrapper {
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .header_title {
      margin-left: 40px;

      h1 {
        font-size: 25px;
        color: #fff;
        font-style: italic;
        margin: 0;
      }

      span {
        display: block;
        font-size: 15px;
        font-style: normal;
        text-align: center;
      }
    }

    .header_r {
      // margin: 0 20px 0 auto;
      margin-left: 20px;
      margin-right: 40px;
      line-height: 10px;
      color: #fff;

      .tel {
        font-size: 25px;
        font-weight: normal;
        text-align: right;
        margin: 0 0 5px 0;
      }

      .time {
        font-size: 10px;
        padding: 5px 5px;
        // border: 1px solid #dcdcdc;
        background: #fff;
        color: black;
        text-align: center;
        margin: 0;

        span {
          color: red;
        }
      }
    }
  }

  nav {
    margin: 0 0 0 auto;
    width: 50%;
    height: auto;
    margin-bottom: 0;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      li {
        width: 20%;
        text-align: center;
      }

      a {
        width: auto;
        height: auto;
        display: block;
        color: #fff;
        font-size: 0;

        &:hover {
          background: #fff;
          color: #1aab8a;
          border-radius: 5px;
          // transition: 0.5s;
          border-left: 5px solid #ffd20a;
        }

        .titleja {
          width: 100%;
          display: inline-block;
          font-size: 14px;
        }

        .titlee {
          width: 100%;
          display: inline-block;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    width: auto;
    padding-top: 0;

    .header_wrapper {
      flex-direction: column;

      .header_r {
        margin: 0;

        .tel {
          height: 46px;
          margin: 0;
          line-height: 46px;
        }

        .time {
          margin: 0;
        }
      }
    }

    nav {
      ul {
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
          width: 50%;
          height: 70px;

          a {
            border-radius: 5px;
          }
        }
      }
    }
  }
}
.firstview {
  padding-top: 70px;
  width: 100%;
  height: 650px;
  background-image: url("img/3499604_m.jpg");
  position: relative;
  z-index: 10;

  .firstview_new {
    width: 60%;
    background: #fff;
    opacity: 0.8;
    margin: 20px 0 0 20px;
    z-index: 30;

    h2.new_title {
      font-size: 16px;
      margin: 15px;

      span {
        display: block;
        height: 50px;
        border-bottom: 3px solid #ffd20a;
        line-height: 50px;
      }
    }

    dl {
      width: auto;
      padding: 0 10px 10px 10px;
      margin-top: 0;
      margin-left: 20px;

      .kizi {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 10px;

        dt {
          box-sizing: border-box;
          width: 20%;
          padding: 10px 0;
          font-size: 13px;
          font-weight: bold;
        }

        dd {
          box-sizing: border-box;
          width: 80%;
          margin-left: 0;
          padding: 10px 10px 0 0;
          font-size: 13px;
          justify-content: flex-end;
        }
      }
    }
  }
}

.sub_title {
  text-align: center;

  h2 {
    position: relative;
    color: #158b2b;
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
    margin: 50px 0;

    &:before {
      content: "";
      position: absolute;
      top: -8px;
      left: 50%;
      width: 150px;
      height: 58px;
      border-radius: 50%;
      border: 5px solid #a6ddb0;
      border-left-color: transparent;
      border-right-color: transparent;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  // h2 {
  //   display: inline-block;
  //   margin: 25px 0;
  //   text-align: center;
  //   border-bottom: 3px dashed #000;
  // }
}
.contents {
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .sub_image {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    img {
      width: 310px;
      height: 230px;
      border-radius: 10px;
      opacity: 0.8;
    }

    .inner {
      width: auto;
      height: 15px;
      padding: 10px;
      text-align: center;

      p {
        margin: 0;
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}

// @media screen and (max-width: 375px) {
//   width: auto;
//   flex-direction: column;
//   padding: 0 12px;

//   .main_menu {
//     width: 100%;
//     box-sizing: border-box;
//     margin-top: 10px;
//     order: 2;

//     .m {
//       // width: auto;

//       ul {
//         width: 100%;
//         box-sizing: border-box;
//       }
//     }
//   }
// }

//   .mainmenu_r {
//     order: 1;

//     .inner {
//       margin-bottom: 39px;

//       dl {
//         .kizi {
//           display: block;

//           dt {
//             width: auto;
//           }

//           dd {
//             width: auto;
//             padding: 10px;
//           }
//         }
//       }
//     }
//   }

.company {
  padding-top: 20px;
  width: 1000px;
  margin: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;

    th,
    td {
      border: 1px solid #a7a7a7;
      padding: 20px;
    }

    th {
      background-color: #faf4e2;
      border-left: 5px solid #ffd20a;
    }
  }
}

.map {
  margin-top: 20px;
}

.mainte {
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;

    thead th {
      background-color: #faf4e2;
    }

    th,
    td {
      border: 1px solid #a7a7a7;
      padding: 20px;
    }

    // td {
    //   background: #f7efd5;
    // }

    th {
      border-bottom: 5px solid #ffd20a;
    }
  }

  a {
    text-decoration: none;
    color: #ffd20a;
  }
}

.sale {
  text-align: center;

  .joycal {
    background: #fff;
    padding: 10px;

    ul {
      padding-left: 0;

      li {
        display: flex;
        align-items: center;
        margin: 20px 0;

        .photo,
        .txt {
          width: 50%;
          box-sizing: border-box;

          h3 {
            border-bottom: 2px dotted #000;
            font-size: 20px;
          }
        }

        img {
          width: 400px;
        }
      }
    }
  }

  /* 奇数の行に対して指定 */
  ul li:nth-child(odd) {
    flex-direction: row-reverse;
  }

  /* 必要に応じて余白つけてください */
  ul li:nth-child(odd) .txt {
    padding-right: 10px;
  }

  ul li:nth-child(even) .txt {
    padding-left: 10px;
  }

  .car_view {
    // .head-border {
    //   padding: 1rem 2rem;
    //   border-top: 2px dotted #000;
    //   border-bottom: 2px dotted #000;
    //   margin-bottom: 0;
    //   color: #eb3b3b;
    // }

    .ribbon2 {
      margin-top: 20px;
      display: inline-block;
      position: relative;
      height: 60px;
      line-height: 60px;
      text-align: center;
      padding: 7px 0;
      font-size: 18px; /*フォントサイズ*/
      background: #fa5050; /*背景色*/
      color: #fff; /*文字色*/
      box-sizing: border-box;

      h3 {
        margin: 0;
        padding: 0 30px;
        border-top: dashed 1px #fff; /*上の破線*/
        border-bottom: dashed 1px #fff; /*下の破線*/
        line-height: 46px;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        z-index: 1;
      }

      &:before {
        /*左端の山形*/
        top: 0;
        left: 0;
        border-width: 30px 0px 30px 15px;
        border-color: transparent transparent transparent #f6f6f6;
        border-style: solid;
      }

      &:after {
        /*右端の山形*/
        top: 0;
        right: 0;
        border-width: 30px 15px 30px 0px;
        border-color: transparent #f6f6f6 transparent transparent;
        border-style: solid;
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding-inline-start: 0;
      margin: 20px 0 40px 0;
    }

    li {
      border: 2px solid #dcdcdc;
      background-color: #fff;
      border-radius: 8px;
      width: 32%;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }

    .car_content {
      padding: 10px 20px;

      h3 {
        font-weight: normal;
        letter-spacing: 1px;
      }

      p {
        font-size: 14px;
      }

      .hm {
        color: #eb3b3b;
      }

      .seven_max {
        color: #19bb37;
      }

      .mitumori {
        display: inline-block;
        font-size: 15px;
        text-align: right;
        text-decoration: none;
        border-bottom: dashed 1px black;
        color: black;
        cursor: pointer;

        &:hover {
          color: #eb3b3b;
          transition-duration: 0.5s;
          border-bottom: dashed 1px #eb3b3b;
        }
      }
    }

    a {
      font-size: 12px;
    }
  }
}

.contact {
  width: 700px;
  margin: 30px auto;

  form {
    width: auto;

    input,
    textarea {
      width: 100%;
      background: #eaebeb;
      border-style: none;
      border-radius: 5px;
      font-size: 16px;
    }

    input {
      height: 40px;
      margin-bottom: 30px;
    }

    textarea {
      margin-bottom: 30px;
    }

    .radiob {
      margin-bottom: 30px;

      p {
        font-size: 16px;
      }

      label {
        line-height: 16px;

        &:hover {
          cursor: pointer;
        }
      }

      input {
        width: 10%;
        margin: 0;
      }
    }

    button {
      width: 50%;
      height: 50px;
      background: #ffd20a;
      color: white;
      border-style: none;
      margin: 0 auto;
      display: block;
      border-radius: 30px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        background: #1aab8a;
        transition-duration: 0.3s;
      }
    }
  }
}

footer {
  width: 1000px;
  height: 80px;
  margin: 20px auto;

  ul {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #1aab8a;
    border-radius: 5px;
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;

    li {
      font-size: 13px;
      padding: 0 0 0 25px;

      &:before {
        content: ""; /* 空の要素作成 */
        width: 6px; /* 幅指定 */
        height: 6px; /* 高さ指定 */
        display: inline-block; /* インラインブロックにする */
        background-color: #1aab8a;
        border: 2px solid #fff;
        position: relative; /* 位置調整 */
        top: 1px; /* 位置調整 */
        margin-right: 10px; /* 余白指定 */
        transform: rotate(45deg);
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }

  .name-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #1aab8a;

    p.address {
      box-sizing: border-box;
      width: 100%;
      text-align: right;
      font-size: 13px;
    }
  }

  p.copy {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
  }

  @media screen and (max-width: 375px) {
    width: auto;
    height: auto;
    padding: 0 20px;

    ul {
      width: auto;
      flex-wrap: wrap;
      height: 60px;
      padding-left: 13px;
      margin-bottom: 15px;

      li {
        padding: 0 20px 0 0;
      }
    }

    .name-add {
      .address {
        width: auto;
        margin: 0 0 0 auto;
        padding-bottom: 10px;

        .name,
        .add,
        .tel {
          width: auto;
          display: block;
          margin-right: 10px;
        }
      }
    }
  }
}
