@charset "UTF-8";
body {
  background-color: #f6f6f6;
  font-family: Verdana, Arial, Helvetica, "meirio", "メイリオ", "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック", sans-serif;
  margin: 0;
  color: #515151;
}

body .page-top {
  position: fixed;
  bottom: 30px;
  right: 40px;
  padding: 10px;
  background: #61c5bb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 12px;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  margin: 0;
  background: #61c5bb;
  z-index: 20;
}

header .header_wrapper {
  height: 100%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_wrapper .header_title {
  margin-left: 40px;
}

header .header_wrapper .header_title h1 {
  font-size: 25px;
  color: #fff;
  font-style: italic;
  margin: 0;
}

header .header_wrapper .header_title span {
  display: block;
  font-size: 15px;
  font-style: normal;
  text-align: center;
}

header .header_wrapper .header_title a {
  text-decoration: none;
  color: #fff;
}

header .header_wrapper .header_r {
  margin-left: 20px;
  margin-right: 40px;
  line-height: 10px;
  color: #fff;
}

header .header_wrapper .header_r .tel {
  font-size: 25px;
  font-weight: normal;
  text-align: right;
  margin: 0 0 5px 0;
}

header .header_wrapper .header_r .time {
  font-size: 10px;
  padding: 5px 5px;
  background: #fff;
  color: black;
  text-align: center;
  margin: 0;
}

header .header_wrapper .header_r .time span {
  color: red;
}

header nav {
  margin: 0 0 0 auto;
  width: 50%;
  height: auto;
  margin-bottom: 0;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

header nav ul li {
  width: 20%;
  text-align: center;
}

header nav ul a {
  width: auto;
  height: auto;
  display: block;
  color: #fff;
  font-size: 0;
}

header nav ul a:hover {
  background: #fff;
  color: #61c5bb;
  border-radius: 5px;
  border-left: 5px solid #f1eac0;
}

header nav ul a .titleja {
  width: 100%;
  display: inline-block;
  font-size: 14px;
}

header nav ul a .titlee {
  width: 100%;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}

@media screen and (max-width: 499px) {
  header {
    padding-top: 0;
    height: 60px;
    padding-left: 20px;
  }
  header .header_wrapper {
    width: 100%;
    display: block;
  }
  header .header_wrapper .header_title {
    width: 70%;
    margin: 0;
  }
  header .header_wrapper .header_title h1 {
    text-align: center;
  }
  header .header_wrapper nav {
    display: none;
  }
  header .header_wrapper nav ul li {
    display: none;
  }
  header .header_wrapper .header_r {
    display: none;
  }
  header .header_wrapper .tel_time {
    margin: 30px;
    background: #fff;
  }
  header .header_wrapper .tel_time .tel {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 5px 0;
  }
  header .header_wrapper .tel_time .time {
    font-size: 10px;
    padding: 5px 5px;
    color: black;
    text-align: center;
    margin: 0;
  }
  header .header_wrapper .tel_time .time span {
    color: red;
  }
  header .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  header .header_wrapper .header_title h1 {
    font-size: 20px;
  }
  header .header_wrapper .header_r .tel {
    font-size: 20px;
  }
  header nav {
    margin-left: 20px;
  }
}

.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  /* 元は60px。ここを触るとスマホ幅変わる */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  background-color: #f1eac0;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #afaa8b;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: #f1eac0;
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #61c5bb;
  opacity: 0.9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*アニメーション設定*/
  padding: 0;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

@media screen and (min-width: 500px) {
  .hamburger-menu {
    display: none;
  }
}

.sub_title {
  text-align: center;
  padding: 90px 0 40px;
}

.sub_title h2 {
  position: relative;
  color: #158b2b;
  font-size: 25px;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.sub_title h2:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sub_title.top {
  padding: 100px 0 30px;
}

.osusume {
  width: 1000px;
  margin: 80px auto 0;
  text-align: center;
}

.osusume .ribbon2 {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  /*フォントサイズ*/
  background: #fa5050;
  /*背景色*/
  color: #fff;
  /*文字色*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.osusume .ribbon2 h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 1px #fff;
  /*上の破線*/
  border-bottom: dashed 1px #fff;
  /*下の破線*/
  line-height: 46px;
}

.osusume .ribbon2:before, .osusume .ribbon2:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
}

.osusume .ribbon2:before {
  /*左端の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #f6f6f6;
  border-style: solid;
}

.osusume .ribbon2:after {
  /*右端の山形*/
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #f6f6f6 transparent transparent;
  border-style: solid;
}

.osusume ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 20px 0 0 0;
}

.osusume li {
  border: 2px solid #dcdcdc;
  background-color: #fff;
  border-radius: 8px;
  width: 30%;
  margin-bottom: 20px;
}

.osusume img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.osusume .car_content {
  padding: 10px 20px;
}

.osusume .car_content h3 {
  font-weight: normal;
  letter-spacing: 1px;
}

.osusume .car_content p {
  font-size: 14px;
}

.osusume .car_content .hm {
  color: #eb3b3b;
}

.osusume .car_content .seven_max {
  color: #19bb37;
}

.osusume .car_content .mitumori a {
  display: inline-block;
  font-size: 15px;
  text-align: right;
  text-decoration: none;
  border-bottom: dashed 1px black;
  color: black;
  cursor: pointer;
}

.osusume .car_content .mitumori a:hover {
  color: #eb3b3b;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-bottom: dashed 1px #eb3b3b;
}

.osusume a {
  font-size: 12px;
}

@media screen and (max-width: 499px) {
  .osusume {
    width: auto;
    margin: 80px 10px 0 10px;
  }
  .osusume .ribbon2 {
    margin-top: 0;
  }
  .osusume .ribbon2 h3.pc_osusume {
    display: none;
  }
  .osusume ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .osusume ul li {
    width: auto;
  }
}

@media screen and (min-width: 600px) {
  .osusume .ribbon2 h3.mb_osusume {
    display: none;
  }
}

.new {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  background: #fff;
}

.new h2.new_title {
  font-size: 16px;
  margin: 15px;
}

.new h2.new_title span {
  display: block;
  height: 50px;
  border-bottom: 3px solid #f1eac0;
  line-height: 50px;
}

.new dl {
  width: auto;
  padding: 0 10px 10px 10px;
}

.new dl .kizi {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}

.new dl .kizi dt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  padding: 10px 0 0 10px;
  font-size: 13px;
  font-weight: bold;
}

.new dl .kizi dd {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  margin-left: 0;
  padding: 10px 10px 0 0;
  font-size: 13px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 499px) {
  .new {
    width: auto;
    margin: 0 10px;
  }
  .new dl .kizi {
    display: block;
  }
  .new dl .kizi dt {
    width: auto;
  }
  .new dl .kizi dd {
    width: auto;
    padding: 10px;
  }
}

.joycal {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.joycal ul {
  background: #fff;
  padding-left: 0;
  margin: 20px 0 0 0;
}

.joycal ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  /* 奇数の行に対して指定 */
  /* 余白 */
}

.joycal ul li:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.joycal ul li:nth-child(odd) .txt {
  padding-right: 10px;
}

.joycal ul li:nth-child(even) .txt {
  padding-left: 10px;
}

.joycal ul li .photo,
.joycal ul li .txt {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.joycal ul li .photo h3,
.joycal ul li .txt h3 {
  border-bottom: 2px dotted #000;
  font-size: 20px;
}

.joycal ul li img {
  width: 80%;
}

@media screen and (max-width: 499px) {
  .joycal {
    width: auto;
    margin: 0 10px;
  }
  .joycal ul {
    width: 100%;
  }
  .joycal ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .joycal ul li .photo,
  .joycal ul li .txt {
    width: auto;
  }
  .joycal ul li:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .joycal ul img {
    width: auto;
  }
}

.mainte {
  width: 1000px;
  margin: 0 auto;
}

.mainte table.lista,
.mainte table.listb {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.mainte table.lista thead th,
.mainte table.listb thead th {
  background-color: #fcf9e6;
}

.mainte table.lista th,
.mainte table.lista td,
.mainte table.listb th,
.mainte table.listb td {
  border: 1px solid #a7a7a7;
  padding: 20px;
}

.mainte a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dashed #000;
}

@media screen and (max-width: 499px) {
  .mainte {
    width: auto;
    margin: 0 10px;
  }
  .mainte table.lista,
  .mainte table.listb {
    width: 100%;
  }
  .mainte table.lista thead,
  .mainte table.listb thead {
    display: none;
  }
  .mainte table.lista tr,
  .mainte table.listb tr {
    display: block;
  }
  .mainte table.lista tr td,
  .mainte table.listb tr td {
    display: block;
    text-align: center;
  }
  .mainte table.lista tr td:nth-of-type(1),
  .mainte table.listb tr td:nth-of-type(1) {
    background-color: #61c5bb;
    color: #fff;
  }
  .mainte table.lista tr td:before,
  .mainte table.listb tr td:before {
    background-color: #fcf9e6;
    display: block;
    content: "";
  }
  .mainte table.lista tr td:nth-of-type(2):before,
  .mainte table.listb tr td:nth-of-type(2):before {
    content: "単位";
  }
  .mainte table.lista tr td:nth-of-type(3):before,
  .mainte table.listb tr td:nth-of-type(3):before {
    content: "料金(税込)";
  }
  .mainte table.listb tr td:nth-of-type(2):before {
    content: "目安時間";
  }
}

.company_wrap {
  width: 1000px;
  margin: 0 auto;
}

.company_wrap .company_one {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 30px;
}

.company_wrap .company_one .main_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.company_wrap .company_one .main_image img {
  width: 310px;
  height: 230px;
  border-radius: 10px;
  opacity: 0.8;
}

.company_wrap .company_one .main_image .inner {
  width: auto;
  height: 15px;
  padding: 10px;
  text-align: center;
}

.company_wrap .company_one .main_image .inner p {
  margin: 0;
  font-size: 15px;
  line-height: 15px;
}

.company_wrap .company_two {
  width: 100%;
  margin: auto;
}

.company_wrap .company_two table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.company_wrap .company_two table th,
.company_wrap .company_two table td {
  border: 1px solid #a7a7a7;
  padding: 20px;
}

.company_wrap .company_two table th {
  background-color: #fcf9e6;
}

@media screen and (max-width: 499px) {
  .company_wrap {
    width: auto;
    margin: 0 10px;
  }
  .company_wrap .company_one {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .company_wrap .company_one .main_image {
    margin-right: 0;
  }
  .company_wrap .company_one .main_image img {
    width: 100%;
  }
  .company_wrap .company_two {
    width: auto;
  }
  .company_wrap .company_two table {
    text-align: center;
  }
  .company_wrap .company_two table th,
  .company_wrap .company_two table td {
    display: block;
  }
  .company_wrap .company_two table th {
    background-color: #61c5bb;
    color: #fff;
    border-left: 1px solid #a7a7a7;
  }
}

.map {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 499px) {
  .map {
    width: auto;
  }
  .map iframe {
    width: auto;
  }
}

.contact {
  width: 1000px;
  margin: 30px auto;
}

.contact form {
  width: 700px;
  margin: 0 auto;
}

.contact form input,
.contact form textarea,
.contact form select {
  width: 100%;
  background: #eaebeb;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
}

.contact form input,
.contact form select {
  height: 40px;
  margin-bottom: 30px;
}

.contact form textarea {
  margin-bottom: 30px;
}

.contact form select {
  width: 50%;
}

.contact form button {
  width: 50%;
  height: 50px;
  background: #f1eac0;
  color: #807c66;
  border-style: none;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}

.contact form button:hover {
  cursor: pointer;
  background: #61c5bb;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 499px) {
  .contact {
    width: auto;
    margin: 0 10px;
  }
  .contact form {
    width: 100%;
    margin: 0 auto;
  }
  .contact form select {
    width: 100%;
  }
  .contact form dd {
    margin-left: 0;
  }
  .contact form dd.selectbox {
    width: auto;
  }
}

footer {
  width: 1000px;
  height: 80px;
  margin: 20px auto;
}

footer ul {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #61c5bb;
  border-radius: 5px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 0;
}

footer ul li {
  font-size: 13px;
  padding: 0 0 0 25px;
}

footer ul li:before {
  content: "";
  /* 空の要素作成 */
  width: 6px;
  /* 幅指定 */
  height: 6px;
  /* 高さ指定 */
  display: inline-block;
  /* インラインブロックにする */
  background-color: #61c5bb;
  border: 2px solid #fff;
  position: relative;
  /* 位置調整 */
  top: 1px;
  /* 位置調整 */
  margin-right: 10px;
  /* 余白指定 */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

footer ul a {
  color: white;
  text-decoration: none;
}

footer ul a:hover {
  border-bottom: 1px solid white;
}

footer .name-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #61c5bb;
}

footer .name-add p.address {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: right;
  font-size: 13px;
}

footer p.copy {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
}

@media screen and (max-width: 499px) {
  footer {
    width: auto;
    height: auto;
    padding: 0 20px;
  }
  footer ul {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 60px;
    padding-left: 13px;
    margin-bottom: 15px;
  }
  footer ul li {
    padding: 0 20px 0 0;
  }
  footer .name-add .address {
    width: auto;
    margin: 0 0 0 auto;
    padding-bottom: 10px;
  }
  footer .name-add .address .name,
  footer .name-add .address .add,
  footer .name-add .address .tel {
    width: auto;
    display: block;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */